body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
  background-color:  rgba(193, 205, 193, 0.5);
  color: #000000;
  text-align: center;
  padding: 10px;
  width:100%;
  top: 0;
  position:fixed;
  align-items: center;
  display: inline-block;
  margin: 0;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #15372b;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff, 0 5px 0 #fff, 0 6px 0 #fff,0 7px 0 #fff, 0 8px 0 #fff, 0 22px 30px rgba(0,0,0,0.9); 
    font-size: 60px;
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    margin-left: 1%;
  }

  #campaign{
    margin-right: 1%;
    margin-bottom: 13%;
    width: 33%;
  }

  #logo{
    margin-top: 5%;
    width: 23%;
    margin-bottom: 0;
    align-items: center;
  }
 
  #intro{
    position: relative; 
}

#intro::before {    
      content: "";
      /*background-image: url('img1.png');*/
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
}

  #tagline1{
    font-family:'Kaushan Script', cursive;
    font-size: 32px;
    text-align: center;
    line-height: 15px;
  }

  #tagline2{
    font-family:'Kaushan Script', cursive;
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    line-height: 15px;
  }

  #tagline3{
    font-family:'Kaushan Script', cursive;
    font-size: 32px;
    text-align: center;
    line-height: 15px;
    margin-bottom: 50px;
  }

  #verse1, #verse2, #verse3, #verse4, #verse5{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: none;
    text-transform: none;
    text-align: center;
    line-height: 10px;
  }

  #verse6{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
  }

  hr {
    width: 25%;
  }

  form {
    width: 900px;
    height: 550px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    background: rgba(193, 205, 193);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  legend{
    display: block;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    border-width: initial;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
  }

  label {
    display: block;
    width: 40%; 
    margin-bottom: 10px;
}

input {
    width: 50%; 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#name{
  text-align: justify;
  display: flex;

}

#staffno{
  text-align: justify;
  display: flex;
}

#kcdio{
  text-align: justify;
  display: flex;
}


#contactno{
  text-align: justify;
  display:flex;
}

#email{
  text-align: justify;
  display:flex;
}

#deduction{
  text-align: justify;
  display:flex;
}

#start_date{
  text-align: justify;
  display:flex;
}

#end_date{
  text-align: justify;
  display: flex;
}

button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: 2px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.submit {
  background-color: white; 
  color: black; 
  border: 2px solid #51b056;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit:hover{
  background-color: #19431b;
  color: white;
}

.reset{
  background-color: white; 
  color: black; 
  border: 2px solid #c6d8c7;
  position: absolute;
  right: 55%;
  transform: translateX(-50%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reset:hover{
  background-color: #c6d8c7;
  color: rgb(6, 6, 6);
}

.buttons .submit .overlay{
  position: absolute;
  background: #fff;
  top:0;
  left:0;
  transform:translate(-25%, -25%);
  border-radius: 50%;
  animation: blink 0.5s linear infinite;
}

.buttons .reset .overlay{
  position: absolute;
  background: #fff;
  top:0;
  left:0;
  transform:translate(-25%, -25%);
  border-radius: 50%;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0%{
    height: 0px;
    width: 0px;
    opacity: 0.5;
  }
  100%{
    height: 100px;
    width: 100px;
    opacity: 0;
  }
}


#agree {
  display: flex;
  align-items: center; 
  margin: 25px; 
  padding: 0; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#agreeBox {
  margin: 0;
  padding: 0; 
  margin-inline-start: 23%;
  margin-inline-end: -15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#agreeBox1 {
  display:contents;
  margin: 0; 
  padding: 0; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contactUs{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

}

.contact {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: rgba(150, 199, 152, 0.5);
  background-blend-mode:luminosity;
  width: 100%;
  margin-bottom: 45px;
  margin-top: 200px;
  line-height: 8px;
}

#contact1{
  text-align: justify;
  margin-left: 35%;
  align-items: center;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact2 {
  text-align: justify;
  margin-right: 35%;
  align-items: center;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contactlogo{
  margin-right: 10px;
  width:20px;
}

#emaillogo{
  margin-right: 10px;
  width: 20px; 
}

#websitelogo{
  margin-right: 10px;
  width: 20px; 
}

#fblogo{
  margin-right: 10px;
  width: 20px; 
}


  footer {
    background-color:  rgba(193, 205, 193);
    color: #000000;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom:0;
    padding: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

